* {
    padding: 0;
    margin: 0;
}

/*header start*/
header {
    /*background-color: rgba(255, 239, 194,0.8);*/
    height: 300px;
    width: 100%;
}

    header h1 {
        color: black;
        position: relative;
        text-align: center;
        line-height: 80px;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    header nav {
        position: relative;
        text-align: center;
        /*right: 5vw;*/
        /*top: 50px;*/
    }

    header ul {
        position: relative;
        text-align: center;
        /*right: 5vw;*/
        /*top: 50px;*/
        line-height: 80px;
    }

    header li {
        display: inline;
        margin-right: 4vw;
    }

    header a {
        color: lightslategrey;
        text-decoration: none;
    }

        header a:hover {
            text-decoration: underline;
            color: darkgray;
        }

/*給header的分隔線*/
.hr1 {
    border: 2px solid red;
    position: relative;
    left: 25%;
    line-height: 50px;
}

/*header end*/

hr {
    border: 1px solid;
    line-height: 50px;
    position: relative;
    left: 25%;
    width: 50%;
    margin: 50px 0;
}

/*聯絡方式start*/
.contact {
    display: flex;
    /*justify-content: space-around;*/
    align-items: flex-start;
    padding: 0 0px 10px 50%;
}

    .contact ul {
        position: relative;
        text-align: center;
        right: 5vw;
        align-items: flex-start;
        top: 0;
        line-height: 50px;
    }

    .contact li {
        display: inline;
        margin-right: 1vw;
    }
/*聯絡方式end*/

footer {
    /*    background-color: black;*/
    color: #B7B7B7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/*首頁 start*/
.opahr {
    opacity: 0.0;
    margin: 25px 0;
}

.defaultdiv div {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    /*主軸對齊方式：居中*/
    justify-content: center;
    /*次軸對齊方式：居中*/
    align-items: center;
}

.defaulta {
    background-color: pink;
    border-color: pink;
    font-size: 25px;
    height: 50px;
    width: 11vh;
    text-align: center;
}

    .defaulta:hover {
        background-color: hotpink;
        border-color: hotpink;
    }

.ToAbout {
    background-image: url('../../images/simen.jpg');
}

.ToWork {
    background-image: url('../../images/night2.jpg');
}
/*首頁 end*/

/*關於 start*/
.about {
    /*background-color: antiquewhite;*/
    color: black;
    /*RWD要改*/
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 上右下左  RWD要改*/
    padding: 0 0 0 30%;
}

    .about h3 {
        font-size: 25px;
        /*margin-top: 60px;*/
        text-align: left;
    }

    .about p {
        color: black;
        font-size: 16px;
        /*margin: 25px 0;*/
        text-align: left;
    }

.aboutimg {
    /*background-color: antiquewhite;*/
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 上右下左 */
    padding: 0 10% 10% 10%;
}

.ab1 {
    height: 40vh;
    background-image: url(../../images/forWork/_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ab2 {
    background-image: url(../../images/ntm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
/*關於 end*/

/*作品 start*/
.worksimg {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

    .worksimg a {
        height: 300px;
    }

    .worksimg img {
        height: 300px;
        border-radius: 10px;
        margin-bottom: 15px
    }

        /*.imgs {
    display: block;
}*/

        .worksimg img:hover {
            opacity: 0.5;
            box-shadow: 10px 10px 5px rgb(203, 203, 203, 0.43)
        }
/*作品 end*/


/*
footer {
    background-color: #000000;
    color: #B7B7B7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.menu {
    display: none;
}*/

/* 響應式設計語法 */
/*@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }

    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }

    .news h2 {
        font-size: 40px;
    }

    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }

    .shop {
        flex-direction: column;
    }

        .shop img {
            width: 100%;
        }

    .info {
        width: 100%;
        padding: 40px 0;
    }

        .info h2 {
            font-size: 30px;
        }

    .product {
        flex-direction: column;
        padding: 60px 0;
    }

        .product div {
            margin-bottom: 30px;
        }
}*/
